.my-form .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 48px; /* lignes / colonnes */
}
.field {
  display: flex;
  flex-direction: column;
}
.field--full {
  grid-column: 1 / -1;
} /* message sur toute la ligne */
